ul {
    list-style: none;
}

img {
    position: relative;
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.ear {
    margin: auto;
}

.vc {
    margin: auto;
}

.ear:hover {
    mask-image: linear-gradient(to bottom , #000, transparent);
}

.vc:hover {
    mask-image: linear-gradient(90deg, transparent, #000 60%, #000 10%, transparent 100%);
}